* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

/* header styles start */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 4px -8px 22px 1px #000;
}

.header-logo img {
    width: 250px;
    height: auto;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 600px;
}

.nav-bar a {
    text-decoration: none;
    color: red;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 3px;
    width: 120px;
    text-align: center;
    transition: all linear 0.2s;
    font-weight: 599;
    margin: 5px;
}

.nav-bar a:hover {
    background-color: red;
    color: white;
    transform: translateY(-3px);
}

/* header styles start */

/* main intro section styles start */

.main-intro-sec {
    background: url("../images/main-back-img.jpg") no-repeat center;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
    height: 500px;
}

.main-intro-part-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-intro-part-text p {
    font-size: 60px;
    font-weight: bold;
    color: rgb(253, 36, 36);
}

.main-intro-part-text a {
    text-decoration: none;
    color: red;
    background-color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px 15px;
    margin-top: 30px;
    font-weight: 599;
    font-size: 20px;
    transition: all 0.2s linear;
}

.main-intro-part-text a:hover {
    transform: translateY(-6px);
    color: white;
    background-color: red;
}

/* main intro section styles end */

/* lesson intro section styles start */

.lesson-intro-sec {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 80px 0;
}

.lesson-intro-box {
    width: 320px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.lesson-intro-box:nth-child(3) {
    align-self: center;
}

.lesson-intro-box-img {
    width: 90%;
    height: auto;
    position: absolute;
}

.lesson-intro-box-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.lesson-intro-box-img img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lesson-intro-box-text {
    align-self: flex-end;
    background-color: rgb(223, 219, 219);
    height: 58%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
}

.lesson-intro-box-text h2 {
    font-size: 24px;
    margin-top: 40px;
}

.lesson-intro-box-text p {
    font-size: 15px;
}

/* lesson intro section styles end */

/* beginner section styles start */

.beginner-sec {
    background-color: whitesmoke;
    padding: 60px 0;
}

.beginner-sec-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.beginner-sec h2,
.intermediate-lessons-intro-sec h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.beginner-sec h2 span {
    color: red;
}

.beginner-sec-img {
    height: auto;
    width: 500px;
    border: red 4px solid;
    margin: 6px;
    border-radius: 15px;
}

.beginner-sec-img img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.beginner-sec-text {
    width: 600px;
    margin: 6px;
}

.beginner-sec-text p {
    padding: 8px;
}

/* beginner section styles end */

/* intermediate lessons intro section styles start */

.intermediate-lessons-intro-sec {
    background-color: whitesmoke;
}

.intermediate-lessons-intro-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.intermediate-lessons-intro-box {
    width: 400px;
    height: auto;
    margin: 10px;
    border: 3px solid red;
    border-radius: 10px;
    transition: all 0.2s linear;
}

.intermediate-lessons-intro-box:hover {
    transform: translateY(-10px);
}

.intermediate-lessons-intro-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.intermediate-lessons-intro-sec h2 span {
    font-size: 32px;
    color: red;
}

/* intermediate lessons intro section styles end */

.song-library-intro-sec {
    background-color: whitesmoke;
    padding: 60px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.song-library-intro-sec h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.song-library-intro-sec h2 span {
    color: red;
}

.song-library-artist-sec {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.artist-img {
    width: 350px;
    height: auto;
    margin: 10px;
    transition: all 0.2s linear;
}

.artist-img:hover {
    transform: translateY(-8px);
}

.artist-img img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.artist-img-btn {
    margin-top: 25px;
    background-color: red;
    color: white;
    padding: 6px 40px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.2s linear;
}

.artist-img-btn:hover {
    color: red;
    background-color: white;
    border: 3px solid red;
}

/* about us section styles start */

.about-us-sec {
    background: url("../images/about-us-sec.jpg") no-repeat center;
    background-size: 100%;
    height: 700px;
    display: flex;
}

.about-us-text-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    flex-direction: column;
    justify-self: center;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    padding: 50px;
    background-color: rgba(231, 229, 229, 0.589);
}

.about-us-text-sec p,
.about-us-text-sec h2 {
    margin-right: auto;
    margin-left: auto;
}

.about-us-text-sec h2 {
    font-size: 32px;
}

.about-us-text-sec p {
    font-size: 18px;
}

.about-us-text-sec a {
    background-color: red;
    color: white;
    padding: 6px 15px;
    margin-top: 20px;
    text-decoration: none;
    transition: all linear 0.2s;
    border: 2px solid red;
}

.about-us-text-sec a:hover {
    transform: translateY(-6px);
    background-color: white;
    color: red;
}

/* about us section styles end */

/* Ready to get started section styles start */

.ready-to-start-sec {
    padding: 100px 0;
}

.ready-to-start-sec h2{
    font-size: 55px;
    padding: 40px 25px;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

/* Ready to get started section styles end */

/* create your account sec  styles start */

.creat-account-sec {
    padding-bottom: 100px;
}

.creat-account-sec h2 {
    text-align: center;
}

.crte-acc-cont-social-sec {
    margin-top: 20px;
}

.crte-acc-cont-social-sec p {
    font-weight: 599;
    font-size: 19px;
    text-align: center;
}

.crte-acc-social-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.crte-acc-with-social-btn {
    width: 60px;
    border: 2px solid red;
    border-radius: 10px;
    margin: 15px;
}

.crte-acc-with-social-btn img {
    width: 100%;
    border-radius: 12px;
}

.crte-acc-with-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crte-acc-with-email form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.crte-acc-with-email form input {
    margin-top: 10px;
    width: 350px;
    font-family: 'Poppins', sans-serif;
    padding: 6px;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
}

.crte-acc-with-email form input:focus {
    border: 1px solid red;
}

.crte-acc-with-email input[type=submit]{
    width: 250px;
    background-color: red;
    color: white;
    cursor: pointer;
}

/* create your account sec  styles end */

/* media query of index page start */

@media only screen and (max-width:900px) {

    .main-intro-sec,
    .about-us-sec {
        background-size: auto 100%;
    }

    .about-us-text-sec {
        width: 90%;
    }
}

@media only screen and (max-width:869px) {
    header {
        justify-content: center;
    }

    .nav-bar {
        margin-top: 20px;
    }
}

@media only screen and (max-width:730px) {
    .main-intro-sec {
        flex-direction: column;
        padding: 20px;
    }

    .main-intro-sec img {
        width: 80%;
    }

    .main-intro-part-text {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width:420px) {
    .main-intro-part-text p {
        font-size: 42px;
    }

    .main-intro-sec img {
        width: 100%;
    }

    .nav-bar a {
        font-size: 16px;
    }

    .ready-to-start-sec h2 {
        font-size: 40px;
    }

    .ready-to-start-sec h2 span {
        color: white;
    }

}

@media only screen and (max-width:330px) {
    .lesson-intro-box-text h2 {
        margin-top: 20px !important;
    }

    .lesson-intro-box {
        height: 330px !important;
    }

    .main-intro-part-text p {
        font-size: 38px;
    }

    .main-intro-part-text a {
        font-size: 14px;
    }
}

@media only screen and (max-width:680px) {
    .lesson-intro-box {
        margin: 20px 10px;
    }

    .beginner-sec-img {
        width: 80%;
    }

    .beginner-sec-text {
        width: 100%;
    }
}

@media only screen and (max-width:1022px) {
    .lesson-intro-sec {
        flex-direction: column;
    }

    .lesson-intro-box {
        width: 500px;
        height: 450px;
    }

    .lesson-intro-box-text h2 {
        margin-top: 120px;
    }
}

@media only screen and (max-width:540px) {
    .lesson-intro-box {
        width: 80%;
        height: 400px;
    }

    .lesson-intro-box-text h2 {
        margin-top: 80px;
    }

    .beginner-sec h2 {
        font-size: 30px;
    }

    .intermediate-lessons-intro-sec h2 {
        font-size: 34px;
    }

    .intermediate-lessons-intro-sec h2 span {
        font-size: 24px;
    }
}

@media only screen and (max-width:380px) {
    .lesson-intro-box {
        height: 330px;
    }

    .lesson-intro-box-text h2 {
        margin-top: 60px;
    }
}

@media only screen and (max-width:350px) {
    .lesson-intro-box-text h2 {
        margin-top: 50px;
    }
}

@media only screen and (max-width:467px) {
    .lesson-intro-box {
        height: 360px;
    }

    .lesson-intro-box-text p {
        font-size: 14px;
    }

    .lesson-intro-box-text h2 {
        font-size: 20px;
        margin-top: 50px;
    }

    .beginner-sec-img {
        width: 95%;
    }

    .about-us-text-sec p {
        font-size: 16px;
    }
}

@media only screen and (max-width:1045px) {
    .beginner-sec-main {
        flex-direction: column;
    }

    .beginner-sec-text {
        text-align: center;
        margin-top: 20px;
    }
}

@media only screen and (max-width:1109px) {
    .artist-img {
        width: 230px;
    }

    .artist-img:nth-child(8) {
        display: none;
    }
}

@media only screen and (max-width:999px) {
    .artist-img:nth-child(8) {
        display: block;
    }
}

@media only screen and (max-width:749px) {
    .artist-img {
        width: 200px;
    }
}

@media only screen and (max-width:659px) {
    .artist-img {
        width: 220px;
    }

    .artist-img:nth-child(8) {
        display: none;
    }
}


@media only screen and (max-width:479px) {
    .artist-img {
        width: 190px;
    }
}

@media only screen and (max-width:419px) {
    .artist-img {
        width: 170px;
    }

    .about-us-sec {
        height: 600px;
    }
}

@media only screen and (max-width:379px) {
    .artist-img {
        width: 85%;
    }

    .artist-img:nth-child(5),
    .artist-img:nth-child(7),
    .artist-img:nth-child(9) {
        display: none;
    }

    .crte-acc-with-email form input {
        width: 95%;
    }
}

@media only screen and (max-width:663px) {
    .song-library-intro-sec h2 {
        font-size: 36px;
    }
}

@media only screen and (max-width:489px) {
    .song-library-intro-sec h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width:700px) {
    .about-us-sec {
        background-image: url("../images/about-us-sec-2.jpg");
        background-size: 100% 100%;
    }
}

@media only screen and (max-width:500px){
    .about-us-sec {
        background-size: auto 100%;
    }
}

@media only screen and (max-width:500px) {
    .about-us-text-sec {
        padding: 20px;
    }
}

/* media query of index page end */